<div class="container mt-5">

  <!-- Alert message for payment cancellation -->
  <div class="alert alert-danger" role="alert">
    <p class="text-center">
      "Unfortunately, it seems that the payment process has been canceled. If you encountered any issues or need assistance, please don't hesitate to reach out to our support team. We apologize for any inconvenience this may have caused and appreciate your understanding
    </p>

    <!-- Button to go back -->
    <div class="d-flex justify-content-center">
      <button routerLink="/" class="btn btn-primary">Go Back</button>
    </div>
  </div>
</div>

