<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <p class="text-center">
      Congratulations! Your payment has been successfully processed. We sincerely appreciate your business and trust in our services. Should you have any questions or require further assistance, please feel free to contact our support team. Once again, thank you for choosing us, and we look forward to serving you again in the future
    </p>
    <div class="d-flex justify-content-center">
      <button routerLink="/" class="btn btn-primary">Go to Subscription</button>
    </div>
  </div>
</div>
